<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Namics.Common.Packages.CopyPageToVersions.DialogId" value="{9AC25015-A0D6-4B41-8CAE-4C438E182BD2}"/>
    </settings>
    <pipelines>
      <initialize>
        <processor type="Namics.Common.Packages.CopyPageToVersions.Processors.RegisterRouteProcessor, Namics.Common.Packages.CopyPageToVersions" />
      </initialize>
      <copyPageToVersions>
        <processor type="Namics.Common.Packages.CopyPageToVersions.Processors.CopyPageToVersionsInputProcessor, Namics.Common.Packages.CopyPageToVersions">
          <LanguagesRootId>{64C4F646-A3FA-4205-B98E-4DE2C609B60F}</LanguagesRootId>
        </processor>
        <processor type="Namics.Common.Packages.CopyPageToVersions.Processors.PageItemsAggregationProcessor, Namics.Common.Packages.CopyPageToVersions">
          <CopyPageToVersionsConfigurationPath>/sitecore/system/Modules/Copy Page To Versions/Copy Page To Versions Configuration</CopyPageToVersionsConfigurationPath>
        </processor>
        <processor type="Namics.Common.Packages.CopyPageToVersions.Processors.CopyPageToVersionsProcessor, Namics.Common.Packages.CopyPageToVersions" />
      </copyPageToVersions>
    </pipelines>
    <commands>
      <command name="item:opencopypagetoversionsdialog" type="Namics.Common.Packages.CopyPageToVersions.Commands.ContentEditor.OpenCopyPageToVersionsDialog, Namics.Common.Packages.CopyPageToVersions"/>
    </commands>
  </sitecore>
</configuration>